@import "tailwindcss";
:root {
  font-family: "Overpass", sans-serif;

  @theme{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey-500: #969FAD;
    --color-grey-900: #262E38;
    --color-grey-950: #131518;

    --color-orange-500: #FC7614;

    --color-gradient: linear-gradient(#232A34, #181E27);

    --text-preset-1: 28px;
    --leading-preset-1: 35px;
    --font-weight-preset-1: 700;

    --text-preset-2: 24px;
    --leading-preset-2: 30px;
    --font-weight-preset-2: 700;

    --text-preset-3: 16px;
    --leading-preset-3: 24px;
    --tracking-preset-3: 0.2px;
    --font-weight-preset-3: 700;

    --text-preset-4: 15px;
    --leading-preset-4-bold: 19px;
    --tracking-preset-4-bold: 2px;
    --font-weight-preset-4-bold: 700;

    --leading-preset-4-regular: 24px;

    --text-preset-5: 14px;
    --leading-preset-5-bold: 18px;
    --tracking-preset-5-bold: 1.87px;
    --font-weight-preset-5-bold: 700;

    --leading-preset-5-semibold: 24px;
    --tracking-preset-5-semibold: 0.17px;
    --font-weight-preset-5-semibold: 600;

    --leading-preset-5-regular: 22px;
  }

}
